<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<ion-content>

  <div class="ion-padding">
      <h5 class="loginTitle">WELCOME BACK</h5>
      <ion-card>
        <form class="ion-padding">
         <div class="flex_title">
            <h5>LOGIN</h5>
            <h5 routerLink="/register">SIGNUP</h5>
         </div>
        <h6 class="title_input">Username</h6>
        <div class="wrap-input">
          <input class="input" type="text" name="user-email" placeholder="Username">
        </div>
        <h6 class="title_input">Password</h6>
        <div class="wrap-input">
          <input class="input" type="password" name="password" placeholder="Password">
        </div>
      </form>
      <div class="container-form-btn">
        <button class="form-btn custom-font">
         LOGIN
        </button>
      </div> 
    </ion-card>
    <h5 class="sub_element">Or login with</h5>
    <div class="footer">
         <div class="container-form-btn-fb">
          <button class="form-btnFb custom-font-fb">
            <img src="../../assets/img/fb.png" class="icon_social">&nbsp;FACEBOOK
          </button>
        </div>
        <div class="container-form-btn-mail">
          <button class="form-btnMail custom-font-mail">
          <img src="../../assets/img/google.png" class="icon_social">&nbsp;GOOGLE
          </button>
      </div>
    </div>
  </div>

</ion-content>
